.top-bar {
  position: fixed;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 12%;
  background-color: #000;
  color: #fff;
  z-index: 100;
}

.top-bar a {
  color: #fff;
  text-decoration: underline;
}

.nav-bar {
  position: fixed;
  top: 32px;
  width: 100%;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

.nav-menu {
  display: none;
}

.nav-menu-icons,
.icons {
  padding-right: 40px;
}

.icon {
  padding: 5px;
}

.arrow-icon {
  width: 10px;
  padding-left: 5px;
}

.logo {
  position: absolute;
  width: 126px;
  left: 12%;
  letter-spacing: -1.5px;
  font-family: "Integral CF", sans-serif;
  font-weight: 800;
  font-size: 25.2px;
}

.hero-section {
  font-family: Satoshi, sans-serif;
  padding: 120px 10px 0 10px;
  background-color: #f2f0f1;
}

.hero-section h1 {
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -1.5px;
  line-height: 1;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 14px;
  opacity: 0.6;
  line-height: 20px;
  letter-spacing: 1px;
}

.shop-now-btn {
  font-family: Satoshi, sans-serif;
  font-size: 14px;
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 62px;
  border: none;
  outline: none;
  font-weight: 400;
  color: #fff;
  background-color: #000000;
  width: 100%;
  margin-top: 20px;
  padding: 15px 13px;
}

.highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.highlight-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.highlight-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.highlight-item-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Satoshi, sans-serif;
}

.highlight-item h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.highlight-item p {
  font-size: 14px;
  opacity: 0.6;
}

.vertical-line {
  width: 1px;
  height: 40px;
  background-color: #000;
  opacity: 0.1;
}

.image-container {
  position: relative;
  display: inline-block;
}

.featured-image {
  width: 100%;
  height: auto;
}

.star-biggest {
  position: absolute;
  top: 600px;
  right: 3%;
  width: 70px;
  height: auto;
  z-index: 10;
}

.star-smallest {
  position: absolute;
  top: 683px;
  left: 8%;
  width: 44px;
  height: auto;
  z-index: 10;
}

.section-logos {
  position: static;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 146px;
  background-color: #000;
  width: 100%;
  margin-top: -4px;
}

.brand-logos {
  width: 90%;
  padding: 5px;
}

.brand-logos img {
  width: 100px;
  height: 22px;
  padding: 8px;
  filter: invert(1) brightness(100%) sepia(1) hue-rotate(180deg);
}

.new-arrivals h2,
.top-selling h2 {
  font-family: "Integral CF", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  padding: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.product-card {
  padding-left: 15px;
}

.product-card img {
  max-width: 160px;
  background-color: #f0eeed;
  border-radius: 20px;
}

.view-all-btn {
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 62px;
  background-color: #fff;
  width: 100%;
  margin-top: 20px;
  padding: 15px 13px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  background-color: #f0eeed;
  border-radius: 20px;
  margin: 15px;
  padding: 15px;
}

.header {
  font-family: "Integral CF", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  padding: 30px;
  letter-spacing: -1.5px;
  line-height: 1;
}

.category {
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 20px;
}

.category-title {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
}

.category-image {
  width: 100%;
  height: auto;
}

.testimonials {
  padding: 10px;
  margin: 40px 20px;
  text-align: center;
}

.testimonial-card {
  background-color: white;
  padding: 20px;
  margin: 10px 0;
}

.newsletter {
  background-color: black;
  color: white;
  margin: 15px;
  padding: 30px 20px 0;
  text-align: center;
  border-radius: 20px;
}

.newsletter h2 {
  font-family: "Integral CF", sans-serif;
  padding-bottom: 30px;
  text-transform: uppercase;
  text-align: start;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -1.5px;
  line-height: 1;
}

.newsletter input {
  padding: 10px;
  width: 93%;
  height: 25px;
  border-radius: 62px;
}

.subscribe-btn {
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 62px;
  background-color: #fff;
  width: 98%;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 13px;
}

.email-input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.email-input-container input[type="email"] {
  border-radius: 62px;
  text-align: center;
  border: 1px solid #ccc;
  font-family: Satoshi, sans-serif;
  font-size: 20px;
  left: 35px;
}

.email-input-container span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #999;
  pointer-events: none;
  left: 30px;
}

.carousel {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.carousel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.carousel-title {
  margin: 0;
  font-family: "Integral CF", sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -1.5px;
  line-height: 1;
}

.carousel-nav {
  display: flex;
  gap: 10px;
}

.nav-arrow {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease;
}

.testimonial-box {
  width: 90%;
  margin: 20px auto;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.stars {
  color: gold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.person-info {
  display: flex;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.person-name {
  font-weight: bold;
}

.person-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.more-testimonials {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  color: #007bff;
  cursor: pointer;
}

.recommendation {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.recommendation h3 {
  font-size: 20px;
  font-weight: bold;
}

.recommendation p {
  font-size: 14px;
  color: #555;
}

.add-to-cart-btn {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.logo-down {
  letter-spacing: -1.5px;
  font-family: "Integral CF", sans-serif;
  font-weight: 800;
  font-size: 25.2px;
  text-align: justify;
}

.slogan {
  text-align: center;
  margin: 15px 0;
  opacity: 0.6;
  text-align: justify;
}

.socials {
  display: flex;
  margin-bottom: 30px;
}

.add-to-cart-btn:hover {
  background-color: #555;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-media a {
  font-size: 24px;
  color: #000;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #007bff;
}
.footer-sections {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.footer-sections .column {
  display: flex;
  flex-direction: column;
}

.footer-sections .section {
  margin-bottom: 20px;
}

.footer-sections h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-sections p {
  margin: 5px 0;
  opacity: 0.6;
}

.footer-bar {
  text-align: center;
  margin-top: 20px;
  opacity: 0.6;
}

.footer-icons {
  width: 40px;
}

.footer-icons img {
  margin: 0 10px;
}

@media (max-width: 400px) {
  #testimonial-2 {
    display: none;
  }
}

@media (max-width: 599px) {
  #testimonial-3 {
    display: none;
  }
}

@media (min-width: 718px) {
  .nav-bar {
    display: none;
  }

  .nav-menu {
    position: fixed;
    font-family: Satoshi, sans-serif;
    top: 32px;
    width: 100%;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    z-index: 1000;
  }

  .nav-menu a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
  }

  .nav-menu .shop-text {
    font-size: 24px;
    font-weight: bold;
    font-weight: 800;
  }

  .search-bar {
    display: flex;
    align-items: center;
  }

  .icon-search {
    display: flex;
    align-items: center;
    position: relative;
  }

  .icon-search .icon {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
  }

  .search-input {
    padding-left: 40px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }

  .nav-menu-icons {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  .nav-menu-icon {
    margin-left: 15px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .brand-logos img {
    width: 230px;
    height: 25px;
  }

  .carousel-item {
    background-color: #fff;
  }

  .carousel {
    overflow: hidden;
    position: relative;
  }

  @media (min-width: 900px) {
    .brand-logos img {
      width: 230px;
      height: 40px;
    }
  }

  .hero-section {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    align-items: center;
  }

  .hero-section h1 {
    width: 60%;
    font-size: 65px;
  }

  .hero-section p {
    width: 60%;
  }

  .hero-section button {
    width: 30%;
  }

  .highlights {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .highlight-item {
    width: 200px;
    height: 200px;
  }

  .highlight-item h2 {
    font-size: 50px;
  }

  .image-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
  }

  .star-biggest {
    top: 170px;
    right: 2%;
  }

  .star-smallest {
    top: 290px;
    left: 70%;
  }

  .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .product-card {
    width: calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
  }

  .product-card img {
    width: 100%;
    height: auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .category-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: center;
  }

  .category:nth-child(4), /* Casual */
  .category:nth-child(1)  /* Gym */ {
    width: 560px;
  }

  .category:nth-child(3), /* Formal */
  .category:nth-child(2)  /* Party */ {
    width: 800px;
  }

  .category-title {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    z-index: 1;
  }

  .category-image {
    width: 100%;
    height: auto;
    display: block;
    height: 100%;
  }

  .testimonial-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;
  }

  .carousel-item {
    background-color: #fff;
  }

  .footer {
    padding: 30px;
  }

  .logo-down {
    font-size: 50px;
  }

  .slogan {
    font-family: Satoshi, sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
  }

  .footer-sections {
    font-family: Satoshi, sans-serif;
    font-size: 30px;
    line-height: 40px;
  }
}
